{% extends "blog/base.html" %}
{% block content %}
{% load bleach_tags %}
  {% for post in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article_content_wrapper">
        <div class="article-metadata">
        </div>
        <h2><a class="homepage_article_title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <div class="article_details_wrapper">
            <span id="article_symbols"><i class="material-icons md-18">date_range</i></span><small id="text-muted"><a class="post_date" href="{% url 'user-posts' post.author.username %}">{{ post.date_posted|date:"F d, Y" }}</a></small>
            <span id="article_symbols"><i class="material-icons md-18">person</i></span><small id="text-muted"><a class="post_author" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a></small>
            {% for tag in post.tags.all %}
            <span id="article_symbols"><i class="material-icons md-18">local_offer</i></span><small id="text-muted">{{ tag }}</small>
            {% endfor %}
            <span id="article_symbols"><i class="material-icons md-18">forum</i></span><small id="text-muted"><a class="comment_count" href="{% url 'post-detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a></small>
        </div>
        {% if post.image %}
        <a href="{% url 'post-detail' post.id %}">
          <img src='{{ post.image.url }}' class="article_image" />
        </a>
        {% endif %}
        <p class="article_content">{{ post.content|bleach|truncatewords_html:50 }}</p>
<!--
        <div class="article_comment_wrapper">
              {% for comment in post.comments.all %}
              <div class="comment">
                <div class="date">
                  {{ comment.created_date }}
                </div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|bleach|linebreaks }}</p>
                </div>
                {% empty %}
                <p>Be the first to leave a comment for this article!</p>
                {% endfor %}
        </div>
!-->
      </div>
      <div class="test_wrapper">
        {% if new_posts > 0 %}
          {{ new_post }} new
          {% endif %}
      </div>
    </div>
    </article>
  {% endfor %}
  {% if is_paginated %}

    {% if page_obj.has_previous %}
      <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
      <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

      {% for num in page_obj.paginator.page_range %}

        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

  {% endif %}

  <div class="test_div"><a class="twitter-timeline" href="https://twitter.com/USTropics?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
{% endblock content %}
