.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #2a3f54;
  display:inline-block;
}

.sidebar_active_link {
  text-decoration: none;
  color: white;
}

.sidebar_logo_wrapper {
  width: 100%;
  height: 8%;
  display: flex;
  flex-direction: row;
}

.sidebar_profile_wrapper {
  width: 100%;
  height: 15%;
  background: black;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-image: linear-gradient(#1b2f44, #2a3f54, #1b2f44);
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left-width: 0;
  border-right-width: 0;
  border-image: linear-gradient(to right, #2a3f54, #405468, #2a3f54) 1 stretch;
}

.sidebar_content_wrapper {
  width: 100%;
  height: 26%;
  background: black;
}

.sidebar_menu_wrapper {
  width: 100%;
  height: 7%;
  background: #172d44;
  display: flex;
  flex-direction: row;
}

.sidebar_button_container {
  width: 100%;
  height: 13%;
  display: none;
  background-image: linear-gradient(#1b2f44, #2a3f54, #1b2f44);
}

  .sidebar_button {
    width: 100%;
    height: 6%;
    background: #2a3f54;
    border-bottom: 2px solid red;
    border-left-width: 0;
    border-right-width: 0;
    border-image: linear-gradient(to right, #2a3f54, #405468, #2a3f54) 1 stretch;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .sidebar_button_txt {
    padding-left: 10px;
  }

  .home_arrow {
    position: absolute;
    right: 12px;
  }

.sidebar_logo_container {
  width:25%;
  height: 100%;
  flex-direction: row;
  margin: auto;
  max-height: inherit;
}

  #logo_vector {
    width: 70%;
    height: 70%;
    padding-left: 8px;
    padding-top: 8px;
  }

.sidebar_logotxt_container {
  width:50%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: 'Dosis';
}

.sidebar_close_container {
  width:25%;
  height: 100%;
  display: flex;
  align-items: center;
}

  .sidebar_close_button {
    color: white;
    font-size: 24px;
    position: relative;
    left: 15px;
  }

.sidebar_close_button:hover {
  color: #1abb9c;
}

    .closebtn {
      text-decoration: none;
    }

  .sidebar_profile_img {
    border-radius: 50%;
    border: solid 5px white;
    width: 32%;
    height: 70%;
    position: relative;
    z-index: 10;
  }

  .sidebar_welcome_message {
    color: #a4b3a0;
    size: 16px;
    font-family: 'Dosis';
    white-space: pre-line;
    padding-left: 20px;
  }

  .sidebar_not_loggedin {
    white-space: pre-line;
    color: #a4b3a0;
  }

  #sidebar_username_txt {
    color: white;
    padding-left: 20px;
  }

.sidebar_button:hover {
  background: #dddddd;
  color: black;
}

.sidebar_button_active {
  background: #dddddd;
  color: black;
}

.menu_wrapper_buttons {
  width: 25%;
  height: 100%;
  color: #5a738e;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-size: 24px;
}

.material-icons.md-18 {
  font-size: 24px;
}

.sidebar_profile_wrapper a:hover {
  color: #1abb9c;
}

.sidebar_logo_wrapper:hover {
  color: #1abb9c;
}
